* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: "Garamond", serif;
    font-size: 20px;
}
body.home {
    max-width: 45rem;
    margin: 0px auto;
    padding: 1rem;
}
body.feedback {
    max-width: 45rem;
    margin: 0px auto;
    padding: 1rem;
}
hr {
    border-top: 2px solid black;
    margin-bottom: 2rem;
}
a {
    color: black;
}
h1 {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.home a {
    font-weight: 600;
}
.home > h2 {
    font-weight: 400;
}
header > a, nav > a {
    text-decoration: none;   
}
header {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}
#present {
    font-weight: 700;
}
@media only screen and (min-width: 531px){
    nav {
        float: right;
    }
}
@media only screen and (max-width: 530px){
    .home-link {
        display: block;
        margin-bottom: 1rem;
    }
}
header {
    margin-bottom: 2rem;
}
p {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.home {
    margin-top: 3.33rem;
}
#footer {
    border-top: 2px solid black;
    margin-top: 2rem;

}
#thetown {
    font-size: 14px;
    text-align: center;
}
#tree {
    padding-left: 2px;
}

.text-right {
    text-align: right;
}

div.quote {
    padding-top: 7rem;
    max-width: 65rem;
}
p.quote {
    margin-left: 3%;
    font-size: 0.95rem;
    line-height: 1.5;
    font-style: italic;
}

.jack-tag {
    margin-top: -0.25rem;
}

.responsive-img {
    width: 100%; /* This will make the image 100% of the paragraph width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn’t exceed its natural size */
}

.quinton-quote {
    width: 100%;
    margin-top: 6rem;
}

@media only screen and (min-width: 1200px) {
    .quinton-quote {
        width: 100%;
    }
}